.main {
  background-color: #fff2e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: "Jost", sans-serif;
  padding-top: 3rem;
}
.price {
  color: #3a3a3a;
  margin-left: 45%;
}
.card {
  position: relative;
  margin-top: 0;
  height: 25rem;
  width: 60%;
  display: flex;
  background-color: #b2a4ff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: 0;
}
.slogan {
  position: absolute;
  margin-left: -33%;
  color: #3a3a3a;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.imageMain {
  padding-top: 30%;
}
.imageBeer {
  padding-top: 1rem;
  height: 50vw;
  width: 100%;
}
.nbrBeer {
  padding: 0;
  margin-right: -80%;
}
.panierMain {
  margin-left: 20%;
}

.buttonMain {
  min-width: 10rem;
  height: 2.5rem;
  color: #fff2e5;
  padding: 0.3rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff2e5;
  overflow: hidden;
  border: 2px solid #b2a4ff;
  color: #b2a4ff;
}
.buttonMain:hover {
  color: #fff;
}
.buttonMain:hover:after {
  height: 100%;
}
.buttonMain:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #b2a4ff;
}

@media screen and (min-width: 500px) {
  .card {
    height: 45rem;
  }
  .imageBeer {
    height: 30rem;
  }
  .buttonMain {
    min-width: 20rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1400px) {
  .imageMain {
    height: 30rem;
  }
}
