/* TITLE */

.TitleCarrousel h1 {
  margin-bottom: -1.3rem;
  color: #f2efeb;
  font-size: 2.5rem;
}

.TitleCarrousel {
  animation: puff-in-center 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

/* BACKGROUND */

.carrousel {
  width: 100%;
  height: 600px;
  background-image: url("../../public/HomeBackground.jpg");
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: center center;
}

/* MEDIAQUERIE */

@media screen and (min-width: 868px) {
  .carrousel {
    width: 100%;
    height: 1000px;
    background-image: url("../../public/HomeBackground.jpg");
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-position: bottom;
    background-attachment: fixed;
  }
}
