.contactForm {
  background-image: url("@assets/backgroundForm.jpg");
  background-size: cover;
  font-family: var(--main-font);
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border: none;
}

@media only screen and (min-width: 600px) {
  .contactForm {
    padding: 5rem 13rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .contactForm {
    padding: 5rem 8rem;
  }
}

.contactForm h3,
.contactForm textarea,
.contactForm input,
.contactForm label {
  color: var(--main-color-white);
}

.contactForm textarea,
.contactForm input {
  border-bottom: 2px solid var(--main-color-white) !important;
  border-radius: 0px;
  border: none;
}

.inputFieldEmail input {
  margin-left: 0.5rem;
}

.contactForm h3 {
  /* display: flex; */
  margin-bottom: 15px;
  margin-top: 35px;
  padding: 5px;
  /* background-color: var(--main-color-black); */
  /* opacity: 65%;
  border-radius: 5px; */
}

.userNameEmail {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  position: relative;
}

.userInfo > label {
  position: absolute;
  top: 16px;
  left: 20px;
}

.submitButton {
  border: solid 2px var(--main-color-white);
  background-color: var(--main-color-white);
  color: #3a3a3a;
  width: 30%;
}

.submitButton:hover {
  opacity: 70%;
}

.divSubmitButton {
  display: flex;
  justify-content: flex-end;
}
