img.insta,
img.facebook,
img.linkedin {
  height: 0.8rem;
  padding-left: 0.5rem;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.Footer p {
  font-size: 0.7rem;
  color: #3a3a3a;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}
