:root {
  --main-color-black: #3a3a3a;
  --main-color-white: #fff2e5;
  --main-background-color: #f2efeb;
  --pastel-color-pink: #ffb4b4;
  --pastel-color-blue: #bbf0f4;
  --pastel-color-yellow: #fff6a6;
  --pastel-color-green: #d4eadf;
  --pastel-color-coral: #ffdeb4;
  --pastel-color-purple: #b2a4ff;
  --main-font: "Josefin Sans", sans-serif;
  --secondary-font: "Jost", sans-serif;
}

.CartPage {
  background-color: #fff2e5;
}

.h1CartPage {
  font-family: var(--main-font);
  margin: 0 5% 20px 5%;
  color: #3a3a3a;
  padding-top: 2rem;
}

.basketItem {
  margin: 0px 5%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom-width: 1px;
  border-bottom: 1px solid #fff2e5;
}

.beerListItem {
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  justify-items: center;
}

.imgBeerBasket {
  height: 10rem;
  padding-left: 1rem;
}

.beerDetailList {
  padding-left: 20px;
}

.beerDetailList p {
  margin-bottom: 4px;
  font-family: var(--secondary-font);
}

.beerBasketName {
  font-size: 16px;
  color: var(--main-color-black);
}

.beerBasketDetail {
  font-size: 12px;
  color: var(--main-color-black);
}

.beerDetailIcon {
  display: flex;
  flex-direction: column-reverse;
}

.basketIcons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.basketIcon {
  background: none;
  background-color: none;
  border: none;
  color: white;
  padding: 20px 8px 0px 8px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.ttcByBeer {
  display: flex;
  flex-direction: column-reverse;
}

.ttcByBeerDetail {
  color: var(--main-color-black);
}

.continueButtonAndTTC {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: flex-start;
  justify-items: left;
  margin: 16px 5%;
  justify-content: space-around;
}

.continuePurchases {
  background-color: #3a3a3a;
  width: auto;
  border: 1px solid var(--main-color-black);
  border-radius: 0;
  margin: 0 10px;
  font-size: 12px;
  border-color: #3a3a3a;
  text-align: center;
  border-radius: 0.5rem;
  padding: 10px;
  color: whitesmoke;
}

.priceTotalBeers {
  padding: 12px 0px;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color-black);
}

.command {
  display: flex;
  justify-content: flex-end;
  margin: 0px 5%;
}

.commandButton {
  background: #b2a4ff;
  border: 1px solid var(--main-color-black);
  border-radius: 0;
  width: auto;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-family: var(--main-font);
  margin: 10px 0;
}
